* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.main_container {
  display: grid;
  grid-template-rows: 40px 1fr;
  height: 100vh;
}

.inner_container {
  display: grid;
  grid-template-rows: 200px 1fr;
}

.floating_icon {
  position: absolute;
  bottom: "40px";
  right: "20px";
  background-color: "#fa3e53";
  padding: "20px";
  border-radius: "50%";
}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    /* Single column layout for smaller screens */
  }

  .main_container {
    grid-template-rows: auto 1fr;
    /* Adjust for smaller screens */
  }

  .inner_container {
    grid-template-rows: auto 1fr;
    /* Adjust for smaller screens */
  }
  .floating_icon {
    display: none;
  }
}
